<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.neclipse.org/xtext/parentdsl/ParentDsl" 
       class = "org.neclipse.xtext.parentdsl.parentDsl.ParentDslPackage"
       genModel = "model/generated/ParentDsl.genmodel" /> 
	
  </extension>



</plugin>
