<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.nb.org/xtext/example/hyperlink/entitydsl/EntityDsl"
			class = "org.nb.xtext.example.hyperlink.entitydsl.entityDsl.EntityDslPackage"
			genModel = "model/generated/EntityDsl.genmodel" />
	</extension>
</plugin>
